Checks: >
  -*,
  misc-*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  performance-*,
  clang-analyzer-*,
  -clang-analyzer-valist.Uninitialized,
  -misc-unused-parameters